.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: dodgerblue;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.searchPage {
  width: 880px;
  height: 600px;
  margin: 0 auto;
}

.bookSearch {
  width: 340px;
  float: left;
  border: 1px solid lightgray;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
}

.resultsList{
  width: 500px;
  margin-right: 15px;
  padding: 15px;
  float: right;
  border: 1px solid lightgray;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
}

.signUp, .logIn {
  width: 350px;
  margin: 40px auto 100px auto;
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
}

h4 {
  margin-bottom: 0!important;
}

p {
  margin-bottom: 0!important;
}

.bookInfo {
  height: 90px;
}

.bookPic img {
  max-height: 70px!important;
}

.bookClub img {
  max-height: 90px!important;
}

.bookClub {
  background: lightgray;
  color: black;
  padding-top: 10px;
  border-radius: 5px;
  width: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
}
